html{
  margin-top: 25px;
  margin-left: 7%;
  margin-right: 7%;
  scroll-behavior: smooth;
  background: white;
}





#logo {
  margin-left: 46%;
  width: 8%;
  height: auto;
}



p.copyrightfoo {
  text-align: center;
}


.imgbitemathispetit{
  width: 60%;
  height: auto;
}


figure {
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: center;
    margin-bottom: 5em;
    background: white;
}



.site-section > p {
  text-align: justify;
}

.site-section > h2 {
  text-align: center;
  font-size: 200%;
}

.site-section > img {
  margin-left: 20%;
  height: auto;
}

.site-section > p {
  width: 60%;
  margin-left: 20%;
}





figure img {
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover.projet img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}


figcaption h2 {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  opacity: 0;
}

figure:hover figcaption h2 {
  display: block;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: blur(0);
  display: block;
  margin: 0px;
  padding: 15px;
  background-color: #222;
  color: #fff;
  text-align: center;
  opacity: 1;

}


.illustration {
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
  margin-bottom: 5em;
  background: white;
  max-width: 50em;
  height: auto;
}


/* figcaption h2{
  display: none;

}
figure:hover figcaption h2{
  display: block;
  margin: 0px;
  padding: 15px;
  background-color: #222;
  color: #fff;
  text-align: center;
  opacity: 1;
} */
